DV_TOKEN=
DV_COLLABORATION_SPACE_ID=
DV_COLLABORATION_SPACE_OWNER_ID=
DV_URL=https://api.datavillage.me
DV_LOKI=
DV_CAGE_ID=
LOGLEVEL=DEBUG
DAEMON=false

REDIS_SERVICE_HOST=localhost
REDIS_SERVICE_PORT=6379

TEST_USER=xxx

